body{
    display:flex;
    flex-direction:column
}
.wrapper{
    height:100vh;
    width:100vw;
    display:flex;
}
.dialogue{
    min-height:200px;
    height:fit-content;
    width:400px;
    background-color:white;
    margin:auto;
    border-radius:10px;
    box-shadow: 10px 10px 8px 10px #888888;
    align-self: center;
}

.heading{
    height:30%;
    display: flex;
    margin-top:20px;
}
.logo{
    height: 70px;
    margin:auto;
    align-self: center;
}

.dialogueBody{
    text-align: center;
    font-family:'Verdana';
    width: 90%;
    margin-left:auto;
    margin-right:auto; 

}

.thankyou{
    margin-top:7.5%;
    font-size: 1.5em
}

.messageBody{
    margin-top:2.25%;
    padding-bottom:25px;
}


